body{
	/*height:3000px;*/
	background-image:url(../image/1.jpg);
	background-repeat:no-repeat;
	background-attachment: fixed;
	/*固定到网页中*/
	background-size: 100%;
	/*图片按照浏览器 宽度高度按比例缩小*/
	background-position: 0 -70px;
	/*背景图片下拉70像素*/

}
header nav{
	width: 100%;
	height: 70px;
	background: rgba(0,0,0,0.5); 
	position: fixed;
	z-index: 9; /*z-index层级关系在顶层*/
}
header nav .title{
	width: 1200px;
	height: 70px;
	/*background: red;*/
	margin: 0 auto;
	font-family: "微软雅黑";

}
header nav .title .logo{
	width:200px; 
	height:70px;
	/*background: green;*/
	float: left;
	color:white;
	font-size: 30px;
	line-height: 66px;
	font-family: "微软雅黑";
}
header nav .title .nav{
	width:385px; 
	height:70px;
	/*background: blue;*/
	float: right;
}
header nav .title ul li{
	width:77px;
	height: 70px;
	float: left;
	color:#ffffff;
	font-size:18px;
	text-align: center;
	line-height: 66px;
	transition:background 1s;
}
header nav .title ul li:hover{
	background: #4eb2d6;
    /*鼠标移入是变色*/
}
header .content{
	width: 100%;
	height: 700px;
	background: rgba(0,0,0,0.2);
	border-top: 1px solid black;
}
header .content .touxiang{
	display: block;
/*	width: 20px;
	height: 20px;*/
	margin:120px auto 0;
	margin-left: 550px;
}
header .content h3{
	width:245px;
	height:62px;
	font-size: 30px;
	color:white;
	display: block;
	margin: 5px 610px 0; 
}

header .content p{
	width: 800px;
	margin:10px auto 0;/*2个值 上下，左右； 三个值 上，左右，下*/
	/*background: red;*/
	color:white;/*字体颜色*/
	font-weight: bold;/*加粗*/
	font-size: 25px;/*字号*/
	line-height:1.5em;/*根据font-size的大小定*/ 
	text-align: center;/*水平居中对齐*/
}
header .content .btn{
	width:200px;
	height:60px;
	border:1px solid white;
	margin:20px auto 0;
	color:white;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	border-radius: 15px;
	/* 圆角半径  如果只有其中一个角是圆角，可以加四个值（上下左右）来判断*/
	cursor: pointer;
}
header .content .btn:hover{
	background: #4eb2d6;
}
/*header .content .sanjiao{
	margin: 20px auto 0;*/
    /*制作三角的办法*/
/*    width: 0;
	height: 0;
	border:40px solid white;
	border-bottom: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
    animation: move 1s infinite;
}*/
header .content .xiala{
	width: 50px;
	height: 50px;
	display: block;
	margin: 30px auto 0;
	animation: move 1s infinite;
}
@keyframes move{   /* 制作动效*/
	0%{margin-top: 20px;}  /*起点*/
	50%{margin-top: 50px;} /*中点*/
	100%{margin-top: 20px;} /*终点*/
}
/*内容 skill部分*/
.skill-box{
	width: 100%;
	background:rgba(60,70,80,0.8);
    padding-top: 100px;
    padding-bottom: 100px;
}
/*.skill-box .jineng{
	width: 30px;
	height: 30px;
	display: block;
}*/

.skill-box h3{
	/*background: red;*/
	width:648px;
	border-bottom: 2px solid white;
	padding-bottom:10px;
	height:40px;
	margin:0 auto; 
	color:#fff;/*(六位字母前三和后三一样 那么只写前三即可)*/
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}
.skill-box p{
	width: 1100px;
	margin: 20px auto 0;
	color:white;
	font-size: 20px;
	line-height:1.6em; 
	text-align: center;
}
.skill-box ul{
	width: 1100px;
	margin: 20px auto 0;
	overflow: hidden;

}
.skill-box ul li{
	width: 154px;
	height: 195px;
	/*background: red;*/
	float: left;
	margin-right:35px;
	color:white;
	text-align: center;
}
.skill-box ul li span{
	display: block;
	margin-top: 20px;
	font-size: 20px;
}
.skill-box ul .last{
	margin-right: 0px;
}
.skill-box ul li div{
	width: 120px;
	height: 120px;
	border:15px solid #fefefe;
	margin:0 auto;
	border-radius: 50%;
	color:white; 
	text-align: center;
	}
.skill-box ul li div b{
	font-size: 40px;
    line-height: 120px;
	font-weight: bold;
	font-family: "微软雅黑"
}
.skill-box ul li div i{
    font-size: 20px;
    line-height: 120px;
    /*没做完呢o*/
}

.skill-box ul li div:hover{
	transition:transform 1s;
	transform:rotateY(360deg);
}

.skill-box ul li:nth-child(1) div{
	background:#efa330;
}
.skill-box ul li:nth-child(2) div{
	background:#88c14c;
}
.skill-box ul li:nth-child(3) div{
	background:#4eb2d6;
}
.skill-box ul li:nth-child(4) div{
	background:#ab8dd7;
}
.skill-box ul li:nth-child(5) div{
	background:#ed6c44;
}
.skill-box ul li:nth-child(6) div{
	background:#7a936b;
}

/*works*/
.works-box{
	width: 100%;
	background:rgba(0,0,0,0.5);
    padding-top: 60px;
    padding-bottom: 100px;
}
.works-box h3{
	/*background: red;*/
	width:648px;
	border-bottom: 2px solid white;
	padding-bottom:10px;
	height:40px;
	margin:0 auto; 
	color:#fff;/*(六位字母前三和后三一样 那么只写前三即可)*/
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}
.works-box p{
	width: 1100px;
	margin: 20px auto 0;
	color:white;
	/*font-weight: bold;*/
	font-size: 20px;
	line-height:1.6em; 
	text-align: center;
}
.works-box .tab{
	width: 1070px;
	height: 465px;
	/*background: red;*/
	margin: 20px auto 0;
}
.works-box .anniu-box{
	width: 335px;
	height: 40px;
	/*background: green;*/
	margin: 0 auto;
}
.works-box .anniu-box .anniu{
	width: 78px;
	height: 38px;
	border: 1px solid white;
	color: white;
	text-align: center;
	line-height: 38px;
	font-size: 20px;
	border-radius: 4px;
	float:left;
	margin-right: 5px; 
	cursor: pointer;/*移入后显示小手*/
}
.works-box .anniu-box .anniu:nth-child(4){
	margin-right:0px;
}
.works-box .tab .content-box {
	width: 1070px;
	height: 400px;
	/*background:blue; */
	margin-top:25px;
}
.works-box .tab .content-box ul{
	width: 1070px;
	height: 400px;
	/*background: green;*/
}
.works-box .tab .content-box ul li{
	width: 260px;
	height: 195px;
	background: black;
	float:left;
	overflow: hidden;
}
.works-box .tab .content-box ul li:nth-child(1){
	margin-right:10px;
	margin-bottom: 10px;
}
.works-box .tab .content-box ul li:nth-child(2){
	margin-right:10px;
	margin-bottom: 10px;
}
.works-box .tab .content-box ul li:nth-child(3){
	margin-right:10px;
	margin-bottom: 10px;
}

.works-box .tab .content-box ul li:nth-child(4){
	margin-bottom:10px;
}
.works-box .tab .content-box ul li:nth-child(5){
	margin-right:10px;
}
.works-box .tab .content-box ul li:nth-child(6){
	margin-right:10px;
}
.works-box .tab .content-box ul li:nth-child(7){
	margin-right:10px;
}

.works-box .tab .content-box ul:nth-child(2){
	display: none;
}
.works-box .tab .content-box ul:nth-child(3){
	display: none;
}
.works-box .tab .content-box ul:nth-child(4){
	display: none;
}
.works-box .tab .content-box ul li img{
    transition:transform 1s;
}
.works-box .tab .content-box ul li img:hover{
	transform:scale(1.2); /*缩放*/
}



/*about*/
.about-box{
	width: 100%;
	background: #2c3138;
}
.about-box .line{
	width: 100%;
	overflow:hidden;
}
.about-box .line .content1{
	width: 45%;
	position: relative;
	float: left;
	font-size: 0; /*不需要管为什么*/

}
.about-box .line .content1 img{
	width: 100%;
}
.about-box .line .content1 .mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left:0;top:0;
}
.about-box .line .content1 .mask p{
	width: 70%;
	margin:120px auto 0;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.about-box .line .content2{
	width: 55%;
	float: left;
}
.about-box .line .content2 .graduation{
	width: 70%;
    color:white;
    margin-top:90px;
    margin-left: 45px;
}
.about-box .line .content2 .graduation h3{
	font-size: 30px;
    line-height:1.5em;
}
.about-box .line .content2 .graduation p{
	font-size: 18px;
    line-height:1.5em;
}
/*第二行*/
.about-box .line2{
	width: 100%;
	overflow:hidden;
}
.about-box .line2 .content2{
	width: 55%;
	position: relative;
	float: left;

}
.about-box .line2 .content2 img{
	width: 100%;
}
.about-box .line2 .content2 .mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	left:0;top:0;
}
.about-box .line2 .content2 .mask p{
	width: 70%;
	margin:120px auto 0;
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.about-box .line2 .content1{
	width: 45%;
	float: left;
}
.about-box .line2 .content1 .graduation{
	width: 70%;
    color:white;
    margin-top:90px;
    margin-left: 45px;
}
.about-box .line2 .content1 .graduation h3{
	font-size: 30px;
    line-height:1.5em;
}
.about-box .line2 .content1 .graduation p{
	font-size: 18px;
    line-height:1.5em;
}








/*页底*/
footer{
	width: 100%;
	padding:30px 0; 
}
footer h3{
	width: 630px;
	height: 100px;
	/*background: red;*/
	margin: 0 auto;
}
footer h3 span{
	float: left;
	width: 210px;
	border-bottom: 1px solid white;
}
footer h3 .line-through{
	margin-top: 45px;
}
footer h3 .title{
	margin-top: 25px;
	font-size: 30px;
	color:white;
	text-align: center;
	border: 0;
}
footer img{
	display: block;
	margin: 0 auto;
}
.backtop{
	width: 100px;
	height: 100px;
	position: fixed;
	right: 30px;
	bottom:100px;
	cursor: pointer;/*鼠标移入变手指*/
}
.backtop img{
	width: 50px;
	height: 50px;
	margin-top:100px; 
}